<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Photo</title>
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
	<style type="text/css">
		body{
			background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/80/Backgorund.gif");
			background-size: cover;
		}
		p,h3{
			color: white;
			font-style: italic;
			text-align: center;
		}
	</style>
</head>
<body class="m-5">
	<div class="container">
		<div class="row justify-content-center">
			<div class="col">
				<a href="{% url 'gallery' %}" class="btn btn-dark my-3">Go Back</a>
				<div style="height: 90vh;">
					<img style="display: block; margin-left: auto; margin-right: auto;" src="{{photo.image.url}}">
					<h3>{{photo.gemName}}</h3>
					<h3>Gem Category :- {{photo.category.gemType}}</h3>
					<p>{{photo.description}}</p>
				</div>
			</div>
		</div>
	</div>
</body>
</html>